/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImage {
  width: 17em; /* Adjust size */
  height: 17em;
  border-radius: 50%; /* Makes it circular */
  object-fit: cover; /* Ensures proper scaling */
  display: block;
  margin: 0 auto;
  border-color: white;
  border-width: 0.2em;
  border-style: solid;
}

.heroSubtitleContainer {
  padding: 3em;
  width: 70%;  /* Adjust width as needed */
  margin: 0 auto;
}

.heroSubtitle {
  font-size: 1.5rem;  /* Increase size */
  font-weight: 5;  /* Slightly bold */
  color: rgba(255, 255, 255, 0.9);  /* Soft white */
  text-align: center;  /* Center text */
  margin-top: 10px;  
  padding: 10px 20px;
  border-radius: 10px; /* Soft corners */
  display: inline-block;
  backdrop-filter: blur(5px); /* Blur effect */
  font-family: 'Poppins', sans-serif; 
}

.heroImage:hover {
  border-color: rgba(228, 244, 5, 0.9);
}

.heroSubtitleSpan {
  /* color: '#FF69B4'; */
  color: rgb(244, 228, 5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.imageWrapper:hover .glasses {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.heroSubtitle {
  animation: fadeIn 1s ease-in-out;
}

.thugLifeGlasses {
  position: absolute;
  top: 29.8%;  /*Control position*/
  left: 50.2%; /*Control position*/
  width: 50px; /*Control size*/
  transform: translate(-50%, -100%) scale(1.5);
  opacity: 0; /*For aligning make this 1*/
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.showGlasses {
  transform: translate(-50%, -100%);
  opacity: 1;
}